<h1>About me</h1>
<p>Hi there, My name is Solid5nake and I'm working on my first ever Rails App.
<p>I am very excited to learn more and more cool tricks and a lot of other crazy Ruby on Rails stuff.</p>
<p>Hopefully with a lot of practice, a lot of fun, dedication and hard work I'll accomplish my dreams of becoming a true Ruby Code Warrior!</p>
