<div class="jumbotron">
  <div class="overlay"></div>
  <h1>About me</h1>
  <p>Hi there, My name is Bram Engel aka Solid5nake and I'm working on my first ever Rails App.
  <p>I'm very excited to learn more and more cool tricks and a lot of other crazy Ruby on Rails stuff.</p>
  <p>I've never done any programming before, but I'm learning new things everyday.</p> 
  <p>Hopefully with a lot of practice, a lot of fun, dedication and hard work I'll accomplish my dreams of becoming a true Ruby Code Warrior!</p>
  <p>Please follow my progress at GitHub!</p>
  <%= link_to image_tag("github.png"), "https://github.com/solid5nake/", target: :_blank , class: "github-button" , alt: "github logo" %>
</div><!-- .jumbotron -->
